.info_box {
    box-sizing: border-box;
    border: 1px solid #D4D4D4;
    background-color: #F5F5F5;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 10px;
}

.reset_box {
    box-sizing: border-box;
    border: 1px solid #D4D4D4;
    background-color: #F5F5F5;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 10px;
}

#header {
    display: inline-block;
    box-sizing: border-box;
    background-color: #F5F5F5;
    border: 1px solid #D4D4D4;
    padding: 10px;
    height: 60px;
    width: 100vw;
    max-width: 100%;
    font-size: 30px;
    color: grey;
    vertical-align: middle;
}

#header > img {
    float: right;
}

#nav {
    flex: 1 0 auto;
    box-sizing: border-box;
    background-color: #F5F5F5;
    border: 1px solid #D4D4D4;
    border-top: 0px;
    padding: 25px 10px;
    max-width: 200px;
    height: calculate(100vh);
}

#nav select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 15px 0px;
}

#nav ul {
    list-style-type: none;
}

#content {
    flex: 1 0 auto;
    display: block;
    margin: 40px;
    font-weight: normal;
    font-size: 14px;
    width: 100vh;
}
